@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<div class="text-center">
    <h1 class="display-4">مرحبا بكم في "اعرف قضيتك – فلسطين ببساطة"</h1>
    <p>تعرف على تاريخ فلسطين، أحداثها الكبرى، ومعركتها المستمرة</p>
    <a class="btn btn-primary" href="/Timeline">التاريخ الزمني</a>
    <a class="btn btn-info" href="/Quiz">اختبر معلوماتك</a>
    <a class="btn btn-success" href="/Sources">المصادر الموثوقة</a>
</div>