@{
    ViewData["Title"] = "المصادر الموثوقة";
}

<div>
    <h2>المصادر الموثوقة لدعم القضية الفلسطينية</h2>
    <ul>
        <li><a href="https://www.palestine-studies.org/">مؤسسة الدراسات الفلسطينية</a></li>
        <li><a href="https://www.palmuseum.org/">المتحف الفلسطيني</a></li>
        <li><a href="https://info.wafa.ps/">وكالة وفا</a></li>
        <!-- يمكن إضافة المزيد من المصادر هنا -->
    </ul>
</div>
